html, body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    width: 100%;
    font-family: 'proxima-nova', sans-serif;
    
}

  #infoBox {
    padding: 25px;
    position: absolute;
    width: 400px;
    border-radius: 25px;
    height: auto;
    z-index: 1;
    color: black;
    background-color: whitesmoke;
    bottom: 5%;
    left: 10px;
    display: none;

  }

  h3 {
    padding: 1px;
    margin: 1px;
  }


  #map {
   
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
  }

  

  .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    width: 140px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }

  #admin {
    right: 10%;
    z-index: 1;
    position: absolute;
    border-radius: 25px;
    font-size: 12px;
    margin-top: 10px;
    
  }
  
  .dropdown {
    margin-top: 10px;
    right: 20%;
    z-index: 1;
    position: absolute;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    background-color: #2980B9;
    
    border-radius: 25px;
  }

  .dropdown-data {
    margin-top: 10px;
    z-index: 1;
    position: absolute;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    background-color: #2980B9;
    border-radius: 25px;
    right: 32%;
    
  }
  
  .dropdown-content {

    display: none;
    position: absolute;
    background-color: #2980B9;
    /*overflow: auto; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    margin: 2px;
    
    
  }

  .dropdown-contentData {

    display: none;
    overflow: auto;
   position: absolute;
    background-color: #2980B9;
   
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    margin: 2px;
    
    
  }

  .dropdown-contentData button {
    text-align: center;
    width: 100%;
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    background-color: #3498DB;
  }

  .dropdown-content button {
    text-align: center;
    width: 100%;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    background-color: #3498DB;
    display: block;
  }

  .dropdown-content button:hover {
    cursor: pointer;
    background-color: #2980B9;
  }

  .dropdown-contentData button:hover {
    cursor: pointer;
    background-color: #2980B9;
  }
  
  .dropdown a:hover { background-color: #2980B9;}
  .dropdown-data a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: #2980B9;
  }

  .dropdown-data:hover .dropdown-contentData {
    display: block;
    background-color: #2980B9;
    
  }

  .dropdown-data:hover {

    min-height: 400px;
    min-width: 140px;

  }
  .dropdown:hover {

    min-height: 400px;
    min-width: 140px;
    

  }

  .legend {
    /* margin-right: 10px; */
    border: 2px solid black;
    padding: 15px;
    height: 160px;
    width: 150px;
    background-color: whitesmoke;
    z-index: 2;
    border-radius: 25px;
  }

  .legend span {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 10px 4px 0;
    border: solid 1.5px;
}

.legend label {
    font-size: 1.1em;
}

.legend label:after {
    content: '';
    display: block;
    clear: both;
}